@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

.dark .MuiInputBase-root, .dark .MuiTextarea-root {
    @apply bg-gray-800 text-white
}

.dark .MuiInputLabel-root {
  @apply text-gray-500;
}

body {
  @apply flex flex-col items-center flex-grow w-full;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.home-page-pattern {
    @apply absolute inset-0 w-full h-full bg-cover bg-no-repeat opacity-[.03] pointer-events-none;
    background-image: url('/images/bg-pattern.svg');
}

.nav-button {
  @apply text-left flex-grow flex py-6 justify-center w-full text-3xl text-gray-300 hover:text-gray-50 duration-500 transition-colors header-font
}

.header-font {
  font-family: var(--font-righteous), cursive;
}

.stack-badge {
  @apply bg-white bg-opacity-40 uppercase px-3 py-2 text-xs font-bold m-1
}

.content-container {
  @apply px-4 xl:px-0 w-full;
  max-width: 1080px;
}

.btn {
  @apply hover:bg-secondary transition-colors duration-500 hover:text-white
}

a {
  @apply hover:underline transition-colors hover:text-primary duration-500
}

@media (prefers-color-scheme: dark) {
  .MuiOutlinedInput-root {
    @apply bg-white
  }
}
